@import url('../../global-styles/vars.css');

.task {
  background-color: var(--bg-secondary);
  padding: 1rem;
  border-radius: 2rem;
  height: max-content;

  width: 300px;
}

.task h2 {
  text-align: center;
  text-wrap: balance;
  word-break: break-word;
}

.task p {
  text-wrap: pretty;
  word-break: break-word;
}

.task button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.taskSettings {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.taskDelete,
.taskEdit {
  fill: var(--text-color);
  transition: color 0.3s;
}

.taskDelete:hover,
.taskEdit:hover {
  fill: var(--text-emphasis);
}
