.task {
  background-color: var(--bg-secondary);
  padding: 1rem;
  border-radius: 2rem;
  height: max-content;

  width: 300px;
}

.task > h2 {
  text-wrap: balance;
  word-break: break-word;
}

.task > p {
  text-wrap: pretty;
  word-break: break-word;
}
