@import '../../global-syles/vars.css';

.header {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 1rem 2rem;
    background-color: var(--bg-secondary);
    color: var(--text-emphasis);
}
