@import '../../global-syles/vars.css';

.nav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  height: 100dvh;
}

.nav > ul {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav > .navCheckBoxInput:checked ~ .dropDownMenu {
  display: flex;
}

.nav:has(input:checked) {
  background-color: var(--bg-secondary);
}

.nav > input,
.dropDownMenu {
  display: none;
}

.navCheckBox {
  fill: var(--text-color);
}

.dropDownMenu > fieldset {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dropDownMenu > fieldset > legend {
  font-size: 1.5rem;
  font-weight: bold;
}

.dropDownMenu > fieldset > label {
  display: flex;
  gap: 0.5rem;
}
.nav > ul {
  flex-direction: column;
  gap: 2rem;
  left: 0;
  padding: 2rem 15px;
}
