@import '../../global-syles/vars.css';

.nav {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem;
    height: 100dvh;
}

.nav > ul {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav > .navCheckBoxInput:checked ~ ul {
    display: flex;
}

.nav:has(input:checked) {
    background-color: var(--bg-secondary);
}

.nav > input {
    display: none;
}

.navCheckBox {
    fill: var(--text-color);
}

.nav > ul {
    flex-direction: column;
    gap: 2rem;
    left: 0;
    padding: 2rem 15px;
}
