@import '../../global-styles/vars.css';

.nav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
  height: auto;
}

.nav > ul {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav > input {
  display: none;
}

.dropDownMenu {
  display: none;
  opacity: 0;
}

.nav > .navCheckBoxInput:checked ~ .dropDownMenu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
  opacity: 1;
  animation-name: appearFromLeft;
  animation-duration: 800ms;
}
/* If nav is selected show background */

.nav:has(input:checked) {
  background-color: var(--bg-secondary);
  transition: background-color 250ms;
  height: 100dvh;
}

.navCheckBox {
  fill: whitesmoke;
}

.dropDownMenu > fieldset {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dropDownMenu > fieldset > legend {
  font-size: 1.5rem;
  font-weight: bold;
}

.dropDownMenu > fieldset > label {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.nav > ul {
  flex-direction: column;
  gap: 2rem;
  left: 0;
  padding: 2rem 15px;
}

@keyframes appearFromLeft {
  from {
    translate: -10px;
  }
  to {
    translate: 0;
  }
}
